@section css{
    <link href="~/Content/App/index.css?UpDate=202002261534" rel="stylesheet" />
    <link href="~/Content/App/site.css?UpDate=202002261534" rel="stylesheet" />
    <link href="../../Content/ttGuard_1.0.0.css?UpDate=202002051338" rel="stylesheet" />
}
<div class="home-content">
    <div class="app-list">
        @if (ViewData["Apps"] != null)
        {
            var staffCode = "";
            if (Request.Cookies["GRIPS_STORE_STAFFCODE"] != null)
            {
                staffCode = Request.Cookies["GRIPS_STORE_STAFFCODE"].Value;
            }
            int i = 0;
            foreach (var app in ViewData["Apps"] as List<GripsStore.Models.App>)
            {

                if (i % 2 == 0)
                {
                    if (i > 0)
                    {
                        @Html.Raw("</div>");
                    }
                    @Html.Raw("<div class=\"row\">");
                }
                var iconPath = "/Files/" + app.appId + "/Icon/" + app.icon;
                var qrPath = "/Files/" + app.appId + "/" + app.appId + ".png";
                <div id="@app.appId" class="column app-item">
                    <div class="app-img-root">
                        <img class="app-icon" src="@iconPath" />
                    </div>
                    <div class="app-name">@app.name</div>
                    <div class="app-description">@app.description</div>
                    <img class="app-img-root" src="@qrPath" />
                </div>
                i += 1;
                if(i % 6 == 0)
                {
                    <div class="page-break"></div>
                }
            }
            if (staffCode != "")
            {
                if ((ViewData["Apps"] as List<GripsStore.Models.App>).Count % 2 == 0)
                {
                    @Html.Raw("</div>");
                    @Html.Raw("<div class=\"row\">");

                }
                <div class="add-item">
                    <div id="div-btn">
                        <button id="btn-add-item" class="btn btn-success">アプリ新規作成</button>
                    </div>
                </div>
            }
            @Html.Raw("</div>");
        }
    </div>
</div>
@section scripts {
    <script src="../Scripts/App/index.js?UpDate=202002261452"></script>
    <script src="../Scripts/App/site.js?UpDate=202002071636"></script>
    <script src="../../Scripts/ttCookie_1.0.0.js"></script>
    <script src="../../Scripts/ttGuard_1.0.0.js?UpDate=202002101014"></script>
}