@section css{
    <link href="~/Content/App/index.css" rel="stylesheet" />
}
<div class="home-content">
    <div class="app-list">
        @if (ViewData["Apps"] != null)
        {
            int i = 0;
            foreach (var app in ViewData["Apps"] as List<GripsStore.Models.App>)
            {

                if (i % 2 == 0)
                {
                    if (i > 0)
                    {
                        @Html.Raw("</div>");
                    }
                    @Html.Raw("<div class=\"row\">");
                }
                <div id="@app.appId" class="column app-item">
                    <img class="app-icon" src="../Files/Icon/@app.icon" />
                    <div class="label app-name">@app.name</div>
                    <div class="label app-description">@app.description</div>
                </div>
                i += 1;
            }
            @Html.Raw("</div>");
        }
    </div>
</div>
@section scripts {
    <script src="../Scripts/App/Home/index.js"></script>
    <script src="../Scripts/site.js"></script>
}