@section css{
    <link href="~/Content/App/detail.css?UpDate=202002061553" rel="stylesheet" />
    <link href="~/Content/App/site.css?UpDate=202002071636" rel="stylesheet" />
    <link href="../../Content/ttGuard_1.0.0.css?UpDate=202002051338" rel="stylesheet" />
}
@if (ViewData["App"] != null)
{
    var app = ViewData["App"] as GripsStore.Models.App;
    var staffCode = "";
    if (Request.Cookies["GRIPS_STORE_STAFFCODE"] != null)
    {
        staffCode = Request.Cookies["GRIPS_STORE_STAFFCODE"].Value;
    }
    var iconPath = "/Files/" + app.appId + "/Icon/" + @app.icon;
    var installFilePath = "/Files/" + app.appId + "/InstallFile/" + @app.fileNm;
    <div class="app-detail">
        <div class="row">
            <div id="app-id" hidden>@app.appId</div>
            <div class="column-icon">
                <div class="row app-icon">
                    <img id="app-icon" src="@iconPath" />
                </div>
            </div>
            <div class="column-info">
                <div class="row label app-name">@app.name</div>
                <div class="row">
                    <div class="label detail-label">バージョン：</div>
                    <div id="app-version" class="label">@app.verNm</div>
                </div>
                <button class="row btn btn-success btn-lg btn-download" onclick="window.location.href = '@installFilePath';">ダウンロード</button>
            </div>
        </div>
        <div class="row label app-description">@app.description</div>
        @if (staffCode != "")
        {
            <div id="admin" class="row">
                <button id="btn-delete" class="btn btn-danger">削除</button>
                <button id="btn-edit" class="btn btn-primary">編集</button>
            </div>
        }
    </div>
}
@section scripts {
    <script src="../../Scripts/App/detail.js?UpDate=202002051317"></script>
    <script src="../../Scripts/App/site.js?UpDate=202002071636"></script>
    <script src="../../Scripts/ttCookie_1.0.0.js"></script>
    <script src="../../Scripts/ttGuard_1.0.0.js?UpDate=202002101014"></script>
}