@section css{
    <link href="~/Content/App/detail.css?UpDate=202002261452" rel="stylesheet" />
    <link href="~/Content/App/site.css?UpDate=202002071636" rel="stylesheet" />
    <link href="../../Content/ttGuard_1.0.0.css?UpDate=202002051338" rel="stylesheet" />
    <link href="~/Content/staffView/drop.css" rel="stylesheet" />
    <link href="~/Content/staffView/register.css" rel="stylesheet" />


}


@if (ViewData["Staffs"] != null)
{
    //// var an = "lytruongan";


    var cookie = "";
    if (Request.Cookies["GRIPS_STORE_STAFFCODE"] != null)
    {
        cookie = Request.Cookies["GRIPS_STORE_STAFFCODE"].Value;
    }



    if (cookie == "9999")
    {
        var staff = ViewData["Staffs"] as GripsStore.Models.Staff;

        <div class="container">
            @*@foreach (var staff in ViewData["Staffs"] as List<GripsStore.Models.Staff>)*@
            @*<div class="NameTag col-sm-offset-0">*@
            <div class="NameTag-div">
                <h2 class="NameTag ">従業員の詳細</h2>
            </div>
            <form class="form-horizontal">

                <div class="form-group">
                    <label class="control-label col-sm-3" for="staffCode">職員コード</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" id="staffCode" value="@staff.staffCode" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3" for="kanaName">カナ氏名</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" id="kanaName" value="@staff.kanaName" maxlength="20">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3" for="kanjiName">漢字氏名</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" id="kanjiName" value="@staff.kanjiName" maxlength="20">
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-3" for="password">パスワード</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" id="password" value="@staff.password" maxlength="20">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3" for="staffWardCode">部署・病棟名称</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" id="staffWardName" value="@staff.staffWardName" readonly>
                    </div>
                </div>


                <div class="form-group">
                    <label class="control-label col-sm-3" for="generationno">世代番号</label>
                    <div class="col-sm-2">
                        <select class="form-control" id="generationno">
                            <option value="@staff.generationno" selected hidden>@staff.generationno</option>
                            <option value="0">0</option>
                            <option value="1">1</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-9">
                        <button class="btn btn-primary" id="btn-submit">Submit</button>
                        <button class="btn btn-info" id="btn-huy" type="reset">Go back</button>
                        <button class="btn btn-danger" id="btn-default">Delete</button>
                    </div>
                </div>
            </form>
        </div>
    }
    else
    { <h1 style="margin-left : 20px; margin-top: 40px ">
            管理者の役割のみ戻る
            <a href="/login/" style="margin-left:20px">戻る</a>
        </h1>
    }
}
@section scripts {
    <script src="~/Scripts/Staff/details.js"></script>
    <script src="../../Scripts/ttCookie_1.0.0.js"></script>
    <script src="../../Scripts/ttGuard_1.0.0.js?UpDate=202002101014"></script>
}
