@section css{
    <link href="~/Content/App/detail.css?UpDate=202002261452" rel="stylesheet" />
    <link href="~/Content/App/site.css?UpDate=202002071636" rel="stylesheet" />
    <link href="../../Content/ttGuard_1.0.0.css?UpDate=202002051338" rel="stylesheet" />



    <link href="~/Content/staffView/details.css" rel="stylesheet" />
}


@if (ViewData["Staffs"] != null)
{
    //// var an = "lytruongan";


    var cookie = "";
    if (Request.Cookies["GRIPS_STORE_STAFFCODE"] != null)
    {
        cookie = Request.Cookies["GRIPS_STORE_STAFFCODE"].Value;
    }



    if (cookie == "9999")
    {
        var staff = ViewData["Staffs"] as GripsStore.Models.Staff;

        <div class="detail-staff">
            @*@foreach (var staff in ViewData["Staffs"] as List<GripsStore.Models.Staff>)*@


            <form>

                <div class="form-group">
                    <label for="staffCode">staffCode</label>
                    <input type="text" class="form-control" id="staffCode" value="@staff.staffCode" readonly>

                </div>
                <div class="form-group">
                    <label for="kanaName">kanaName</label>
                    <input type="text" class="form-control" id="kanaName" value="@staff.kanaName" maxlength="20">
                </div>
                <div class="form-group">
                    <label for="kanjiName">kanjiName</label>
                    <input type="text" class="form-control" id="kanjiName" value="@staff.kanjiName" maxlength="20">

                </div>



                @*<div class="form-group">
                      <label for="exampleCheck1"></label>
                      <input type="hidden" class="form-control" id="generationno" value="@staff.generationno" readonly>

                    </div>*@
                <div class="form-group">
                    <label for="generationno">Generation number</label>
                    <select class="form-control" id="generationno">
                        <option value="@staff.generationno" selected hidden>@staff.generationno</option>
                        <option value="0">0</option>
                        <option value="1">1</option>
                    </select>
                </div>
                <div>
                    <button class="btn btn-primary" id="btn-submit">Submit</button>
                    <button class="btn btn-info" id="btn-huy">XYZ</button>
                    <button class="btn btn-danger" id="btn-default">Delete</button>
                </div>
            </form>
        </div>
    }
    else
    { <h1 style="margin-left : 20px; margin-top: 40px ">
            管理者の役割のみ戻る
            <a href="/login/" style="margin-left:20px">戻る</a>
        </h1>
    }
}
@section scripts {
    <script src="~/Scripts/Staff/details.js"></script>
    <script src="../../Scripts/ttCookie_1.0.0.js"></script>
    <script src="../../Scripts/ttGuard_1.0.0.js?UpDate=202002101014"></script>
}
