@section css{
    <link href="~/Content/App/detail.css?UpDate=202002261452" rel="stylesheet" />
    <link href="~/Content/App/site.css?UpDate=202002071636" rel="stylesheet" />
    <link href="../../Content/ttGuard_1.0.0.css?UpDate=202002051338" rel="stylesheet" />
    <link href="~/Content/staffView/staff.css" rel="stylesheet" />
}
@if (ViewData["Staff"] != null)
{
    // var an = "lytruongan";
    var staffCode = "";
    if (Request.Cookies["GRIPS_STORE_STAFFCODE"] != null)
    {
        staffCode = Request.Cookies["GRIPS_STORE_STAFFCODE"].Value;
    }



    foreach (var staff in ViewData["Staff"] as List<GripsStore.Models.Staff>)
    {


        <form>
            <form>
                <div class="form-group">
                    <label for="staffcode">staffCode</label>
                    <input type="text" class="form-control" id="staffCode" value="@staff.staffCode">
                </div>
                <div class="form-group">
                    <label for="kanjiName">kanjiName</label>
                    <input type="text" class="form-control" id="kanjiName" value="@staff.kanjiName">
                </div>
                <div class="form-group">
                    <label for="kanaName">kanaName</label>
                    <input type="text" class="form-control" id="kanaName" value="@staff.kanaName">
                </div>
                <div class="form-group">
                    <label for="kanaName">staffWardCode</label>
                    <input type="text" class="form-control" id="staffWardCode" value="@staff.staffWardCode">
                </div>
                <div class="form-group">
                    <label for="kanaName">staffWardName</label>
                    <input type="text" class="form-control" id="staffWardName" value="@staff.staffWardName">
                </div>
                @*<div>
                        <button type="submit" class="btn btn-default">Update</button>
                    </div>*@
                <div id="admin" class="row">
                    <button id="btn-cancel" class="btn btn-danger">Cancel</button>
                    <button id="btn-update" class="btn btn-primary">Update</button>
                </div>
            </form>
        </form>



    }
}






@section scripts {
    <script src="~/Scripts/Staff/details.js"></script>
    <script src="../../Scripts/ttCookie_1.0.0.js"></script>
    <script src="../../Scripts/ttGuard_1.0.0.js?UpDate=202002101014"></script>
}